<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
</body>
</html> 

{% comment %} <!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    <form method="post" action="{% url 'register' %}">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        
        <p>
            <label for="id_username">Username:</label>
            <input type="text" name="username" id="id_username" maxlength="150" required>
        </p>
        
        <p>
            <label for="id_password">Password:</label>
            <input type="password" name="password1" id="id_password" required>
        </p>
        
        <p>
            <label for="id_password2">Password confirmation:</label>
            <input type="password" name="password2" id="id_password2" required>
        </p>
        
        <button type="submit">Register</button>
    </form>
</body>
</html>

 {% endcomment %}
